html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; /* for legacy iOS/Safari */
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

th {
    text-align: match-parent;
    text-align: -webkit-match-parent;
}

/* External styles for layout and buttons */
.d-flex-main {
    min-height: 300px;
}
.friends-sidebar {
    width: 300px;
    margin-left: 2rem;
}
.add-friend-btn-style {
    font-size: 1.5rem;
    line-height: 1;
}