@page "/"

<PageTitle>Bingo Online</PageTitle>

<h2 style="margin-bottom: 24px;">Bingo Online</h2>

<p>Welcome to Bingo Online!</p>
<p>If you want to host the game go in <a href="/admin/tickets">Admin Area</a>!</p>
<p>If you want to play the game go in <a href="/myticket">Play Area</a>!</p>
